<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theSecret | Home</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('partials/_header') %>
    <main class="container">
        <div class="description">
            <h1>Welcome to <span>theSecret</span> website!</h1>
            <p><a class="secret-btn" href="/secret">View the Secret page!</a></p>
        </div> 
    </main>
    <%- include('partials/_footer') %>
</body>
</html>