<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>theSecret | Secret</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/secret.css">
  </head>
  <body>
    <%- include('partials/_header'); %>
    <main class="container">
      <div class="description">
        <h1>Welcome to the Secret page!</h1>
        <p>
          The secret page can represent any page that requires a user to be authenticated before accessing the website's private content.
        </p>
      </div>
    </main>
    <%- include('partials/_footer');%>
  </body>
</html>
